<div id="<%= dom_id user_vote %>">
  <p>
    <strong>Username:</strong>
    <%= user_vote.userName %>
  </p>

  <p>
    <strong>Vote:</strong>
    <%= user_vote.vote_id %>
  </p>

  <p>
    <strong>Eventname:</strong>
    <%= user_vote.eventName %>
  </p>

</div>
