<div id="<%= dom_id feedback %>">
  <p>
    <strong>Eventname:</strong>
    <%= feedback.eventName %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= feedback.message %>
  </p>

  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

</div>
