@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #001124;
}

.signup_title {
  color: #fff;
  font-family: DM Serif Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup_input {
  width: 361px;
  height: 43px;
  flex-shrink: 0;
  background: #fff;
  color: #000;
  border-radius: 5px;
}

.signup_label {
  color: #fff;
  font-family: Padauk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup_button {
  width: 180px;
  height: 43px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #015fc7;
}

.login_forgot_password {
  color: #499ffe;
  font-family: Padauk;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.profileheader {
  background-color: aquamarine;
}

.profileheader_titles {
  color: #fff;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  width: 200px;
}

.profile_button {
  width: 282px;
  height: 49px;
  background: #015fc7;
  color: #fff;
}

.profile_title {
  color: #015fc7;
  font-family: Padauk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.home_writeup {
  color: #fff;
  font-family: DM Serif Display;
  font-size: 24px; /* Updated font size */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home_writeup_2 {
  color: #015fc7;
  font-family: DM Serif Display;
  font-size: 48px; /* Updated font size */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home_writeup_button {
  width: 100px; /* Updated width */
  height: 40px; /* Updated height */
  flex-shrink: 0;
  border-radius: 10px; /* Updated border-radius */
  background: #0160c8;
}

.home_features {
  color: #dcdbf5;
  font-family: DM Serif Display;
  font-size: 18px; /* Updated font size */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home_image {
  width: 30px; /* Updated width */
  height: 30px; /* Updated height */
  flex-shrink: 0;
}

.home_header {
  height: 450px;
}
